<h1 class="pageTitle">Projects</h1>

<div class="about_box">
    <div class="row projects_wrapper">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_16/2674406/181206-school-lunch-line-ew-629p.jpg" class="card-img-top" alt="SchoolLunchDebt.org">
                <div class="card-body">
                    <h5 class="card-title">SchoolLunchDebt.org</h5>
                    <p class="card-text">Under Construction - started October 2023</p>
                    <p class="card-text">
                    <br/>
                    Started August 2020, beta launched in one district in FL. Progress stalled.</p>
                    <a href="https://schoollunchdebt.org" target="_blank" class="btn btn-primary">Visit SchoolLunchDebt.org</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2018_33/1360182/carpool-rules-today-main-180414.jpg" class="card-img-top" alt="School Pickup">
                <div class="card-body">
                    <h5 class="card-title">SchoolPickup.net</h5>
                    <p class="card-text">Under Construction</p>
                    <p class="card-text">A quick, easy way to automate school pickup to eliminate those busy lines and long waits at the end of the school day.
                    <br/>
                    Started mid-2020, beta launched in one district in FL. Progress stalled with the pandemic.</p>
                    <a href="#" class="btn btn-primary disabled">(Coming Soon)</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <%= image_tag "https://chrsmmns.s3.us-east-2.amazonaws.com/devsite/clientell-base.png", class: "card-img-top", alt: "ClienTell.io" %>
                <div class="card-body">
                    <h5 class="card-title">ClienTell.io</h5>
                    <p class="card-text">Under Construction - started 2021<br/>
                    Smart reviews aggregator for local businesses. Stay informed, stay nimble, stay profitable.
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary disabled">(Coming Soon)</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <%= image_tag "https://chrsmmns.s3.us-east-2.amazonaws.com/devsite/shutupwesley_ali_art.jpeg", class: "card-img-top", alt: "StarTrekWeekend" %>
                <div class="card-body">
                    <h5 class="card-title">StarTrekWeekend.com</h5>
                    <p class="card-text">Paused - began 2017<br/>
                        Once-upon-a-time podcast (starting out as "Shut Up Wesley - A Podcast") that started as a way to get my friends into all things Star Trek. Soon, will be a blog reviewing the best episodes of each series.
                    <p class="card-text"></p>
                    <a href="https://startrekweekend.com" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-md-6">
            <div class="card">
                <%= image_tag "https://placehold.co/800?text=Playwith.org&font=roboto", class: "card-img-top", alt: "PlayWith.org" %>
                <div class="card-body">
                    <h5 class="card-title">PlayWith.org</h5>
                    <p class="card-text">Planning - ideation started 2019<br/>
                        Connect with musicians across the globe and play songs together - learn an instrument, start a band, PlayWith us.
                    <p class="card-text"></p>
                    <a href="https://playwith.org" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-md-6">
            <div class="card">
                <%= image_tag "https://www.stylestorycreative.com/wp-content/uploads/2019/06/0-best-columbus-wedding-venues-style-and-story.jpg", class: "card-img-top", alt: "Columbus Weddings" %>
                <div class="card-body">
                    <h5 class="card-title">ColumbusOHWedding.com</h5>
                    <p class="card-text">Under Construction - started November 2023<br/>
                    Local personalized wedding planning in Columbus, Ohio
                    <p class="card-text"></p>
                    <a href="https://columbusohwedding.com" target="_blank" class="btn btn-primary">Visit ColumbusOHWedding.com</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <%= image_tag "https://chrsmmns.s3.us-east-2.amazonaws.com/devsite/pgnsoft_logo.png", class: "card-img-top", alt: "Pigeon Software" %>
                <div class="card-body">
                    <h5 class="card-title">PgnSoft.com</h5>
                    <p class="card-text">Personal software consulting inspired by <a href="https://en.wikipedia.org/wiki/Cher_Ami" target="_blank">Cher Ami</a></p>
                    <p class="card-text"></p>
                    <a href="https://pgnsoft.com" target="_blank" class="btn btn-primary">Visit PgnSoft.com</a>
                </div>
            </div>
        </div>
    </div>
</div>